.vitrine {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  /*ate 767, daqui para baixo */
  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 4fr);
    width: 70%;
    margin: auto;

    .vitrine__produtos {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .vitrine__button {
      margin-bottom: 35px;
    }

    .vitrine__produtos {
      padding-top: 35px;
    }
  }

  &__item {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 10rem;
    padding: 0.25rem 2rem;
    width: 85%;
    height: 80%;
    padding: 10px;
    padding-bottom: 20px;
    color: #fff;
    &:hover {
      animation-name: fadeInAnimation ease 3s;
      //animation-duration: 0.3s;
      -webkit-box-shadow: 0.5px 0.5px 5px 0.5px #bcbdba;
      box-shadow: 0.5px 0.5px 5px 0.5px #bcbdba;
    }
  }

  &__image {
    background-color: #333;
    width: 100%;
    height: 10rem;
  }

  .vitrine__item > img {
    margin: auto;
    width: 75%;
    height: 13.7rem;
  }

  #gira {
    height: 12.2rem;
  }

  #terrario {
    height: 12.2rem;
  }

  h3 {
    padding-top: 20px;
  }

  .vitrine__produtos {
    color: $color-secondary;
  }

  &__button {
    -webkit-box-shadow: 2px 2px 8px 1px rgba(8, 49, 8, 0.5);
    box-shadow: 2px 2px 8px 1px rgba(10, 46, 10, 0.5);
    background-color: $color-font;
    border-radius: 1rem;
    color: #fff;
    padding: 1rem 2rem;

    font-size: $font-size-default;
    text-decoration: none;
    align-self: center;
    margin-bottom: 2rem;
    &:hover {
      -webkit-box-shadow: 2px 2px 8px 1px rgba(#2e2207, 2.5);
      box-shadow: 2px 2px 8px 1px rgba(#2e2207, 2.5);
      transition: 0.4s;
    }
  }
}
